


body{background-color:rgb(228, 229, 248);}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.main.container {
    margin-top: 1em;
    background-color: rgb(255, 255, 255);
    padding:1em;
    box-shadow: 0 0 1em rgb(223, 223, 223);
}


ul.ui.list li:before {
  display: none;
  content: '';
}
li:after {margin:2em;}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
